.fontchange {
    font-family: Arial, Helvetica, sans-serif;
}

.fontchange:hover {
    cursor: pointer;
}
.olx_shape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 55px;
    background-color: white;
    border-radius: 16px 16px 0 0;
    margin-top: 10px;
}

.olx_shape:hover {
    cursor: pointer;
}

.imageDimensions {
    width: 80%;
}

.imageContainer {
    width: 70px;
}

.imageContainerProperty {
    width: 50px;
}

.sellButton {
    background: url('../../assets/SellButtonBorder.svg') no-repeat center;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aligningSellButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.plusSign {
    font-size: 15px;
    margin-right: 5px;
    font-weight: bolder !important;
    color: black;
}

.loginUnderline {
    border-bottom: 2px solid #000000;
}

.loginUnderline:hover {
    border-bottom: 0px;
}

.cityDropDown {
    width: 30%;
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: .4rem;
    display: flex;
    align-items: center;
}

.cityDropDown:has(select:focus) {
  border-color: blue;
}

.cityDropDownMenu {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    outline: none;
}

.cityDropDownMenu:hover {
    outline: none;
}

.searchInput {
    display: flex;
    border: 1px solid black;
    width: 70%;
    border-radius: .4rem;
}

.searchInput:has(input:focus) {
  border-color: blue;
}


.searchInputContainer {
    width: 100%;
    padding: 2px 5px;
}

.searchInput input {    
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.searchbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.searchButton {
    background-color: #082F33;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0;
    border-radius: 0 .4rem .4rem 0 ;
}

.searchButton:hover {
    background-color: #082F33;
}

.searchButton:focus {
    outline: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin: 10px 0;
}

.categoryList {
    list-style: none;
    margin: 0;
    padding: 0;
}